<html>

	
	<head>
		{% load static %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha256-rsPUGdUPBXgalvIj4YKJrrUlmLXbOb6Cp7cdxn1qeUc=" crossorigin="anonymous"></script>

	    <script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/fandromeda-v2/web/js/angular.min.js"></script>

		<script type="text/javascript" src="{% static 'js/utility.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
		<link rel="shortcut icon" href="{% static 'image/favicon.png' %}"/>
	</head>

	<body ng-app="blog">
		{%block mainbody%}{%endblock%}

	</body>
</html>

